body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #282c34;
    color: white;
  }
  
  #login {
    text-align: center;
  }
  
  #username {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #content {
    text-align: center;
  }
  
  #stats {
    display: flex;
    justify-content: space-around;
  }
  
  .stat {
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    width: 30%;
  }
  
  .stat p {
    margin: 0;
  }
  
  .easy {
    border: 2px solid #61dafb;
  }
  
  .medium {
    border: 2px solid #ff9800;
  }
  
  .hard {
    border: 2px solid #f44336;
  }

  #profileButton,
  #logoutButton {
  margin-top: 10px; 
  }
  